.magenta{
    background-color:rgb(226, 44, 44);
    color: rgb(226, 44, 44);
    border: 2px solid rgb(30, 219, 162);
    padding: 10px;
}
.black{
    color: black;
    font-size: 30px;
}

.yellow{
    background-color:  rgb(206, 181, 39);
    color: rgb(206, 181, 39);
    border: 2px solid rgb(236, 148, 47);
}
.red{
    background-color: rgb(151, 16, 16);
    color: rgb(151, 16, 16);
    border: 2px solid white;
}